body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

h6 {
  margin: 0;
}

h1, h6 {
  font-family: Shrikhand, Roboto, sans-serif;
  font-weight: 100;
  font-size: 24px;
}

body, html {
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes grow {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.8);
  }
}

@keyframes grow {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.8);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes myAnim {
  0% {
    opacity: 0;
    transform: scale(0.6);
    transform: translate3d(0, 40, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: scale(0.6);
    transform: translate3d(0, 40, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", cursive;
}
header img {
  width: 45%;
  height: 45%;
  -o-object-fit: contain;
     object-fit: contain;
}
header a {
  position: absolute;
  left: 30px;
}

footer {
  height: 200px;
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  gap: 5%;
}
footer img {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 10%;
  width: 100px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(171deg) brightness(105%) contrast(103%);
}
footer ul {
  height: 120px;
  display: flex;
  flex-direction: column;
  height: 50%;
  padding-left: 0;
  justify-content: space-between;
}

.Loader {
  position: fixed;
  inset: 0 0 0 0;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: opacity 2s ease-in-out;
  padding-top: 50%;
  height: 100%;
  width: 100%;
  z-index: 10;
  -webkit-animation: LoaderDisappear 2s forwards;
          animation: LoaderDisappear 2s forwards;
}
.Loader .Loader1 {
  height: 30px;
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
  transition: ease-in-out;
  position: relative;
  -webkit-animation: LoaderTranslate infinite 0.3s alternate;
          animation: LoaderTranslate infinite 0.3s alternate;
}
.Loader .Loader2 {
  height: 30px;
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
  transition: ease-in-out;
  position: relative;
  -webkit-animation: LoaderTranslate infinite 0.3s alternate;
          animation: LoaderTranslate infinite 0.3s alternate;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.Loader .Loader3 {
  height: 30px;
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
  transition: ease-in-out;
  position: relative;
  -webkit-animation: LoaderTranslate infinite 0.3s alternate;
          animation: LoaderTranslate infinite 0.3s alternate;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.Loader .Loader4 {
  height: 30px;
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
  transition: ease-in-out;
  position: relative;
  -webkit-animation: LoaderTranslate infinite 0.3s alternate;
          animation: LoaderTranslate infinite 0.3s alternate;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.Loader .Loader5 {
  height: 30px;
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
  transition: ease-in-out;
  position: relative;
  -webkit-animation: LoaderTranslate infinite 0.3s alternate;
          animation: LoaderTranslate infinite 0.3s alternate;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.Loader .Loader6 {
  height: 30px;
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
  transition: ease-in-out;
  position: relative;
  -webkit-animation: LoaderTranslate infinite 0.3s alternate;
          animation: LoaderTranslate infinite 0.3s alternate;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.Loader .Loader7 {
  height: 30px;
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
  transition: ease-in-out;
  position: relative;
  -webkit-animation: LoaderTranslate infinite 0.3s alternate;
          animation: LoaderTranslate infinite 0.3s alternate;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.Loader .Loader8 {
  height: 30px;
  margin-top: 15px;
  font-family: "Shrikhand", cursive;
  transition: ease-in-out;
  position: relative;
  -webkit-animation: LoaderTranslate infinite 0.3s alternate;
          animation: LoaderTranslate infinite 0.3s alternate;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

@-webkit-keyframes LoaderDisappear {
  90% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes LoaderDisappear {
  90% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes LoaderTranslate {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes LoaderTranslate {
  100% {
    transform: translateY(-30px);
  }
}
.LocationChoice {
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.LocationChoice i {
  font-size: 16px;
  margin-right: 5px;
}
.LocationChoice input {
  width: 150px;
  font-size: 16px;
  font-weight: 800;
  border: hidden;
  background-color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.IntroExplore {
  background-color: rgb(246, 246, 246);
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.IntroExplore :nth-child(1) {
  font-size: 25px;
  width: 60%;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
}
.IntroExplore :nth-child(2) {
  text-align: center;
  font-size: 20px;
  color: dimgray;
  margin-bottom: 30px;
}
.IntroExplore p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.NavMenu {
  height: 400px;
  display: flex;
  flex-direction: column;
}
.NavMenu h1 {
  font-family: "Shrikhand", cursive;
  margin-top: 50px;
  margin-left: 20px;
}
.NavMenu .NavMenuList {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.NavMenuChoice {
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  width: 80%;
  height: 65px;
  border-radius: 20px;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.NavMenuChoice p:first-child {
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
}
.NavMenuChoice :nth-child(2) {
  font-size: 20px;
  width: 20px;
}
.NavMenuChoice :nth-child(3) {
  width: 60%;
  text-align: center;
  font-weight: 600;
}
.NavMenuChoice:hover {
  background-color: rgb(245, 237, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 4px 12px 16px;
}
.NavMenuChoice:hover :nth-child(2) {
  color: #9356dc;
}

.Restaurant {
  background-color: rgb(246, 246, 246);
  height: 1200px;
}
.Restaurant > p {
  padding-top: 60px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: x-large;
  margin-left: 20px;
}

.RestaurantList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.RestaurantChoice {
  width: 95%;
  height: 240px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.RestaurantChoiceImage {
  height: 72%;
  width: 100%;
}
.RestaurantChoiceImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.RestaurantChoiceImage p {
  height: 20%;
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: relative;
  right: -73%;
  width: 90px;
  text-align: center;
  top: -100%;
}
.RestaurantChoiceSelection {
  height: 28%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.RestaurantChoiceSelectionText {
  margin-left: 15px;
}
.RestaurantChoiceSelectionText :first-child {
  font-weight: bold;
}

main > img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.MenuALaFrancaise {
  height: 1200px;
  background-color: rgb(246, 246, 246);
  border-radius: 30px 30px 0px 0px;
  padding-left: 8%;
  padding-right: 10%;
  position: relative;
  z-index: 2;
  margin-top: -80px;
  overflow: hidden;
}

.ALaFrancaiseTitle {
  display: flex;
  align-items: center;
  padding-top: 25px;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
}
.ALaFrancaiseTitle h1 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
}
.ALaFrancaiseTitle i:nth-child(3) {
  display: none;
}

h2 {
  margin-top: 30px;
  border-bottom: solid 2px rgb(22, 202, 127);
  font-size: 20px;
  width: 50px;
  margin-bottom: 15px;
  color: grey;
  font-weight: 100;
}

.DishesChoice {
  height: 250px;
}
.DishesChoice .Disheslist {
  height: 27%;
  border-radius: 15px;
  padding-left: 0;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: rgba(235, 233, 233, 0.1) 0px 4px 12px;
  -webkit-animation: myAnim 1s ease-in-out 0s 1 normal none;
          animation: myAnim 1s ease-in-out 0s 1 normal none;
}
.DishesChoice .Disheslist:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.DishesChoice .Disheslist:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.DishesChoice .Disheslist:hover .DishesChoiceCheckbox {
  width: 17%;
}
.DishesChoice .Disheslist:hover .DishesChoiceCheckbox i {
  transform: rotate(360deg);
  transition: transform 0.4s ease-in-out;
}
.DishesChoice .Disheslist h3 {
  margin: 0px 0px 0px 0px;
  font-weight: bolder;
  font-size: 14px;
  padding-top: 10px;
  height: 50%;
  width: 61%;
  align-items: center;
  padding-right: 10px;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}
.DishesChoice .Disheslist p {
  margin: 0px 0px 0px 0px;
  padding-bottom: 0px;
  font-size: 14px;
  height: 50%;
  width: 61%;
  align-items: center;
  padding-right: 10px;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}
.DishesChoice .Disheslist em {
  margin-top: 32px;
  margin-left: 2%;
  margin-right: 4%;
  padding-left: 5%;
}
.DishesChoice .Disheslist .DishesChoiceCheckbox {
  display: inline-block;
  background-color: #99E2D0;
  height: 67px;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}
.DishesChoice .Disheslist i {
  transform: rotate(90deg);
  color: white;
  font-size: 20px;
}

.RestaurantChoiceSelectionHeart {
  margin-right: 15px;
}

.fill {
  color: black;
  cursor: pointer;
}
.fill:hover {
  -webkit-animation: fill 0.3s ease-in-out;
          animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.PinkBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.PinkBtn {
  background: linear-gradient(to top left, #9356dc, #FF79DA);
  color: white;
  width: 220px;
  border-radius: 30px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PinkBtn:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

a {
  text-decoration: inherit;
  color: inherit;
  font-size: 16px;
}

.BtnShadow:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}/*# sourceMappingURL=main.css.map */