.Loader{
  position: fixed;
  inset: 0 0 0 0;
  background: $linear-gradient;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: opacity 2s ease-in-out;
  padding-top: 50%;
  height: 100%;
  width: 100%;
  z-index: 10;
  animation: LoaderDisappear 2s forwards ;
  .Loader1{
    height: 30px;
    margin-top: 15px;
    font-family: 'Shrikhand', cursive;
    transition: ease-in-out;
    position: relative;
    animation: LoaderTranslate infinite 0.3s alternate;
  }
  .Loader2{
    height: 30px;
    margin-top: 15px;
    font-family: 'Shrikhand', cursive;
    transition: ease-in-out;
    position: relative;
    animation: LoaderTranslate infinite 0.3s alternate;
    animation-delay: 0.05s;
  }
  .Loader3{
    height: 30px;
    margin-top: 15px;
    font-family: 'Shrikhand', cursive;
    transition: ease-in-out;
    position: relative;
    animation: LoaderTranslate infinite 0.3s alternate;
    animation-delay: 0.1s;
  }
  .Loader4{
    height: 30px;
    margin-top: 15px;
    font-family: 'Shrikhand', cursive;
    transition: ease-in-out;
    position: relative;
    animation: LoaderTranslate infinite 0.3s alternate;
    animation-delay: 0.15s;
  }
  .Loader5{
    height: 30px;
    margin-top: 15px;
    font-family: 'Shrikhand', cursive;
    transition: ease-in-out;
    position: relative;
    animation: LoaderTranslate infinite 0.3s alternate;
    animation-delay: 0.2s;
  }
  .Loader6{
    height: 30px;
    margin-top: 15px;
    font-family: 'Shrikhand', cursive;
    transition: ease-in-out;
    position: relative;
    animation: LoaderTranslate infinite 0.3s alternate;
    animation-delay: 0.25s;
  }
  .Loader7{
    height: 30px;
    margin-top: 15px;
    font-family: 'Shrikhand', cursive;
    transition: ease-in-out;
    position: relative;
    animation: LoaderTranslate infinite 0.3s alternate;
    animation-delay: 0.30s;
  }
  .Loader8{
    height: 30px;
    margin-top: 15px;
    font-family: 'Shrikhand', cursive;
    transition: ease-in-out;
    position: relative;
    animation: LoaderTranslate infinite 0.3s alternate;
    animation-delay: 0.35s;
  }
}

@keyframes LoaderDisappear{
  90%{
    opacity: 1;
  }
  100%{
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes LoaderTranslate {
  100%{
    transform: translateY(-30px);
  }
}