.Restaurant{
    background-color: rgb(246, 246, 246);
    height: 1200px;
    > p{
        padding-top: 60px;
        margin-bottom: 20px;
        font-weight: bolder;
        font-size: x-large;
        margin-left: 20px;
    }
}
.RestaurantList{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.RestaurantChoice{
    width: 95%;
    height: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    &Image{
        height: 72%;
        width: 100%;
        img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        }
        p{
        height: 20%;
        color: #008766;
        background: #99E2D0;
        border: 5px solid #99E2D0;
        border-radius: 5px;
        position: relative;
        right: -73%;
        width: 90px;
        text-align: center;
        top: -100%;
        }
    }
    &Selection{
        height: 28%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &Text{
            margin-left: 15px;
            :first-child{
                font-weight: bold;
            }
        }
    }
}
