.PinkBtnDiv{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.PinkBtn{
    background: linear-gradient(to top left, #9356dc,#FF79DA);
    color: white;
    width: 220px;
    border-radius: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: lighten(#9356dc, 10%);
        background-blend-mode: lighten;
        box-shadow: 4px 4px 6px #000;
      }
    }
    a{
        text-decoration: inherit;
        color: inherit;
        font-size: 16px;
    }
